.learning-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.learning-option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid green;
    margin: 3px;
}